<% layout("/layouts/boilerplate.ejs")%>
  <div class="row mt-2">
    <div class="col-8 offset-2">
      <h3>Edit Listing</h3>
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <div class="mb-3">
          <label for="title"><b>Edit Title</b></label>
          <input type="text" name="Listing[title]" value="<%= listing.title %>" class="form-control" />
        </div>
        <div>
          <label for="description">Edit Description</label>
          <textarea name="Listing[description]" class="form-control"><%= listing.description %> </textarea>
        </div>
        <div class="mb-3">
          <label for="image">Edit Image</label>
          <input type="text" name="listing[image]" value="<%= listing.image %>" type="text" class="form-control" />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price">Edit Price</label>
            <input type="number" name="Listing[price]" value="<%= listing.price %>" class="form-control" />
          </div>
          <div class="mb-3 col-md-8">
            <label for="country">Edit Country</label>
            <input type="text" name="Listing[country]" value="<%= listing.country %>" class="form-control" />
          </div>
        </div>
        <div class="mb-3">
          <label for="location">Edit Location</label>
          <input type="text" name="Listing[location]" value="<%= listing.location %>" class="form-control" />
        </div>
        <button class="btn btn-dark edit-btn mt-2">Edit</button>
      </form>
    </div>
  </div>